* {
  margin: 1px;
  padding: 1px;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
}

body {
  background: linear-gradient(to top, #2a6898, rgb(98, 20, 206));
}

/* Root Variables */
:root {
  --main: #CDD6D0;
  --header: #4281A4;
  --background: #97A7B3;
  --title: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
}

/* Homepage */
.homepage {
  background: var(--background);
}

.homepage div button {
  display: block;
  margin: 10px;
  padding: 5px;
  border: black solid 2px;
  border-radius: 5px;
  background-color: #44BBA4;
}

.homepage div button:hover {
  border: yellow solid 2px;
}

.homepage h2 {
  background-color: var(--header);
  padding: 20px;
}

/* Components =========================================================== */

/* Header -------------------------------------------------------------- */
.header h1 {
  background: var(--title);
  padding: 30px;
  text-align: center;
  font-size: 50px;
}

.header-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Footer */
.footer {
  background: var(--title);
  padding: 10px;
}

.footer .footer-instructions, .footer .footer-section-links,
.footer .footer-instructions a {
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer #github-icon {
  color: black;
}

.footer #linkedin-icon {
  color: blue;
}

.footer #linkedin-icon:hover, .footer #github-icon:hover {
  color: yellow;
}

/* NbaAllStar Navbar -------------------------------------------------------------- */
.navbar button {
  background-color: #44BBA4;
  padding: 5px;
  margin-left: 15px;
}

.navbar button:hover {
  background-color: yellow;
}

/* NbaAllStar Page -------------------------------------------------------------- */
.nba-all-star-page {
  background-color: var(--background);
}

.nba-all-star-page h1 {
  background-color: var(--header);
  padding: 10px;
}

.nba-all-star-page div {
  padding: 10px;
}


/* NbaAllStarEntries (card) -------------------------------------------------------------- */
.nba-entries .nba-entry-card {
  border: solid black 2px;
  border-radius: 10px;
  margin: 4px;
  background-color: #44BBA4;
}

.nba-entries p {
  background-color: gold;
}

.nba-entries h3 {
  background-color: var(--background);
}

.nba-entries h4 {
  background-color: var(--background);
}

.nba-entries-container {
  display: flex;
  flex-wrap: wrap;
}


/* NBA ALL STAR Entries (page) -------------------------------------------------------------- */
.nba-entries {
  background-color: var(--background);
}

.nba-entries h1 {
  background-color: var(--header);
  padding: 10px;
}

.nba-entries div {
  padding: 10px;
}


/* NBA ALL STAR Entry Form ----------------------- */
.form-section {
  background-color: var(--background);
}

.form-section h1 {
  background-color: var(--header);
  padding: 10px;
}

.form-section div {
  padding: 10px;
}

.form-section .form-input input {
  border: black solid 2px;
  margin: 5px;
}

.form-section .form-input input:hover {
  border: yellow solid 2px;
}

/* Nba Playoffs Page -------------------------------------------------------------- */
.nba-playoffs-page {
  background-color: var(--background);
}

.nba-playoffs-page h1 {
  background-color: var(--header);
  padding: 10px;
}

.nba-playoffs-page div {
  padding: 10px;
}

/* History (card) -------------------------------------------------------------- */
.history-card-section {
  background-color: var(--background);
}

.history-card-section h3 {
  background-color: var(--header);
  padding: 20px;
}

.history-card h4 {
  background-color: #93E1D8;
}

/* Pages =========================================================== */


