* {
  margin: 1px;
  padding: 1px;
  font-weight: 600;
}

/* Root Variables */
:root {
  --main: #5B616A;
  --title: #275DAD;
  --background: #DDC67B;
}

/* Homepage */
.homepage {
  background-color: var(--background);
}

.homepage div button {
  display: block;
  margin: 10px;
  padding: 5px;
  border: black solid 2px;
  border-radius: 5px;
  background-color: #44BBA4;
}

.homepage div button:hover {
  border: red solid 2px;
}

.homepage h2 {
  background-color: var(--title);
  padding: 20px;
}

/* Components =========================================================== */

/* Header -------------------------------------------------------------- */
.header h1 {
  background-color: var(--main);
  padding: 30px;
}

/* Footer */
.footer {
  background-color: var(--main);
  padding: 10px;
}

.footer .footer-instructions, .footer .footer-section-links,
.footer .footer-instructions a {
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer #github-icon{
  color: black;
}

.footer #linkedin-icon{
  color: blue;
}

/* NbaAllStarEntries (card) -------------------------------------------------------------- */
.nba-entries .nba-entry-card {
  border: solid black 2px;
  border-radius: 10px;
  margin: 5px;
  background-color: aqua;
}

.nba-entries h4 {
  background-color: pink;
}

.nba-entries-container {
  display: flex;
  flex-wrap: wrap;
}



/* Pages =========================================================== */



