* {
  margin: 1px;
  padding: 1px;
  font-weight: 600;
}

/* Root Variables */
:root {
  --main: #CDD6D0;
  --header: #4281A4;
  --background: #97A7B3;
  --title: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
}

/* Homepage */
.homepage {
  background: var(--background);
}

.homepage div button {
  display: block;
  margin: 10px;
  padding: 5px;
  border: black solid 2px;
  border-radius: 5px;
  background-color: #44BBA4;
}

.homepage div button:hover {
  border: yellow solid 2px;
}

.homepage h2 {
  background-color: var(--header);
  padding: 20px;
}

/* Components =========================================================== */

/* Header -------------------------------------------------------------- */
.header h1 {
  background: var(--title);
  padding: 30px;
  text-align: center;
}

.header-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Footer */
.footer {
  background: var(--title);
  padding: 10px;
}

.footer .footer-instructions, .footer .footer-section-links,
.footer .footer-instructions a {
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer #github-icon {
  color: black;
}

.footer #linkedin-icon {
  color: blue;
}

.footer #linkedin-icon:hover, .footer #github-icon:hover {
  color: yellow;
}
/* NbaAllStar Page -------------------------------------------------------------- */
.nba-all-star-page {
  background-color: var(--background);
}

.nba-all-star-page h1 {
  background-color: var(--header);
  padding: 10px;
}

/* NbaAllStarEntries (card) -------------------------------------------------------------- */
.nba-entries .nba-entry-card {
  border: solid black 2px;
  border-radius: 10px;
  margin: 5px;
  background-color: aqua;
}

.nba-entries h4 {
  background-color: var(--background);
}

.nba-entries-container {
  display: flex;
  flex-wrap: wrap;
}

/* History (card) -------------------------------------------------------------- */
.history-card-section {
  background-color: var(--background);
}

.history-card-section h3 {
  background-color: var(--header);
  padding: 20px;
}

.history-card h4 {
  background-color: #93E1D8;
}

/* Pages =========================================================== */

/* NBA ALL STAR (card) -------------------------------------------------------------- */
.nba-all-star-page div {
  padding: 10px;
}
